* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: linear-gradient(
      to bottom,
      rgba(2, 0, 36, 1) 0%,
      rgba(92, 29, 29, 1) 43%,
      rgba(242, 154, 46, 1) 100%
    );
  }