@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');;
$phone: 320px;
$phonexl: 600px;
$tablet: 799px;
$desktop: 1024px;
$font: 'Karla', sans-serif;
$naranja:#f29a2e;
$marron: #73412f;
$negro: #0d0d0d;
$blanco: #f2f2f2;
$transparencia: rgba(0, 0, 0, 0.514);
$sombra: 0px 10px 10px 10px #0d0d0d;
$imgForms: url(../assets/images/principal.jpg);
$menu1: url(../assets/images/Menu1.jpeg);
$menu2: url(../assets/images/Menu2.jpeg);
$menu3: url(../assets/images/Menu3.jpeg);
$menu4: url(../assets/images/Menu4.jpeg);

