/* Para pagina de Menu */
.menu {
    color: $blanco;
    /* width: 50%;
    height: 800px;*/
    background-color: $transparencia;
    font-family: $font;
    padding: 20px;
    margin: 50px;
    border-radius: 20px;
  
    width: auto;
    height: auto;
    /* min altura viewport heigth*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  .item {
    height: 300px;
    width: 300px;
    border: 2px solid $negro;
    margin: 20px;
    box-shadow: 2px 2px 5px $marron;
    border-radius: 5px;
    &:hover {
      transform: scale(1.15);
      transition: all 0.9s;
    }
  }

  $imagenes: (
    /*Declaramos nuestro mapa*/
    menu1: url(../assets/images/Menu1.jpeg),
    menu2: url(../assets/images/Menu2.jpeg),
    menu3: url(../assets/images/Menu3.jpeg),
    menu4: url(../assets/images/Menu4.jpeg)
    );

 @each $menu, $url in $imagenes {
         .item-#{$menu} {
          background-image: $url;
          background-size: cover;
          background-position: center;
       }
    }
  

  
  
  